{"swagger":"2.0","host":"sec-id-api.sandbox.securitize.io","basePath":"/","schemes":["https","http"],"info":{"title":"Securitize iD API Documentation","version":"1.0.2"},"tags":[{"name":"config","description":"API endpoints for managing the app"},{"name":"access","description":"API endpoints for managing authorization"},{"name":"investor","description":"Investor information endpoints"}],"securityDefinitions":{"API Key":{"type":"apiKey","name":"Authorization","in":"header","x-keyPrefix":"Bearer "}},"security":[{"API Key":[]}],"paths":{"/v1/{clientId}":{"get":{"summary":"Get application configurations","operationId":"getV1Clientid","description":"Returns application name icon and redirect urls","parameters":[{"type":"string","name":"clientId","in":"path","required":true}],"tags":["config"],"responses":{"200":{"schema":{"$ref":"#/definitions/configResponse"},"description":"Successful"}}},"patch":{"summary":"Patch application configurations","operationId":"patchV1Clientid","description":"Returns application name icon and redirect urls","parameters":[{"type":"string","name":"clientId","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/configParams"}}],"tags":["config"],"responses":{"200":{"schema":{"$ref":"#/definitions/configResponse"},"description":"Successful"}}}},"/v1/{clientId}/config":{"get":{"summary":"Get issuer configurations","operationId":"getV1ClientidConfig","description":"Returns issuer name icon and redirect urls","parameters":[{"type":"string","name":"clientId","in":"path","required":true}],"tags":["config"],"responses":{"200":{"schema":{"$ref":"#/definitions/configResponse"},"description":"Successful"}}}},"/v1/{clientId}/investor":{"get":{"summary":"Get investor details","operationId":"getV1ClientidInvestor","description":"Returns investor details","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorResponse"},"description":"Successful"}}}},"/v1/{clientId}/investor/verification":{"get":{"summary":"Get investor verification","operationId":"getV1ClientidInvestorVerification","description":"Returns investor verification","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorDocument"},"description":"Successful"}}}},"/v1/{clientId}/investor/signers":{"get":{"summary":"Get investor signers","operationId":"getV1ClientidInvestorSigners","description":"Returns investor signers","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorSigners"},"description":"Successful"}}}},"/v1/{clientId}/investor/documents":{"get":{"summary":"Get investor documents","operationId":"getV1ClientidInvestorDocuments","description":"Returns investor documents","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorDocumentsResponse"},"description":"Successful"}}}},"/v1/{clientId}/investor/info":{"get":{"summary":"Get investor info","operationId":"getV1ClientidInvestorInfo","description":"Returns investor info","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model3"},"description":"Successful"}}}},"/v2/{clientId}/investor/verification":{"get":{"summary":"Get investor verification","operationId":"getV2ClientidInvestorVerification","description":"Returns investor verification","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorVerificationV2"},"description":"Successful"}}}},"/v1/{clientId}/investor/domain/wallets":{"get":{"summary":"Get investor wallets","operationId":"getV1ClientidInvestorDomainWallets","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/Model7"},"description":"Successful"}}},"post":{"summary":"add investor wallets","operationId":"postV1ClientidInvestorDomainWallets","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model9"}}],"tags":["investor"],"responses":{"default":{"schema":{"type":"string"},"description":"Successful"}}}},"/v1/{clientId}/investor/documents/{documentId}/view":{"get":{"summary":"Get investor document view link","operationId":"getV1ClientidInvestorDocumentsDocumentidView","description":"Returns investor document view link","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true},{"type":"string","name":"documentId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/investorDocumentView"},"description":"Successful"}}}},"/v1/{clientId}/investor/signers/{signerId}/documents/{documentId}/view":{"get":{"summary":"Get signer document view link","operationId":"getV1ClientidInvestorSignersSigneridDocumentsDocumentidView","description":"Returns signer document view link","parameters":[{"type":"string","name":"access-token","in":"header","required":true},{"type":"string","name":"clientId","in":"path","required":true},{"type":"string","name":"signerId","in":"path","required":true},{"type":"string","name":"documentId","in":"path","required":true}],"tags":["investor"],"responses":{"200":{"schema":{"$ref":"#/definitions/signerDocumentView"},"description":"Successful"}}}},"/v1/oauth2/token":{"post":{"summary":"Authorize investor with authorization code [/token route]","operationId":"postV1Oauth2Token","description":"Returns access and refresh tokens","parameters":[{"in":"body","name":"body","schema":{"$ref":"#/definitions/authorizePayload"}}],"tags":["access"],"responses":{"200":{"schema":{"$ref":"#/definitions/OAuth2Response"},"description":"Successful"}}}},"/v1/{clientId}/oauth2/authorize":{"post":{"summary":"Authorize investor with authorization code","operationId":"postV1ClientidOauth2Authorize","description":"Returns access and refresh tokens","parameters":[{"type":"string","name":"clientId","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/Model8"}}],"tags":["access"],"responses":{"200":{"schema":{"$ref":"#/definitions/authorizeResponse"},"description":"Successful"}}}},"/v1/{clientId}/oauth2/refresh":{"post":{"summary":"Refresh investor accessToken","operationId":"postV1ClientidOauth2Refresh","description":"Returns new access and refresh tokens","parameters":[{"type":"string","name":"clientId","in":"path","required":true},{"in":"body","name":"body","schema":{"$ref":"#/definitions/refreshPayload"}}],"tags":["access"],"responses":{"200":{"schema":{"$ref":"#/definitions/refreshResponse"},"description":"Successful"}}}}},"definitions":{"redirectUrls":{"type":"array","items":{"type":"string"}},"configResponse":{"type":"object","properties":{"appIcon":{"type":"string"},"appName":{"type":"string"},"redirectUrls":{"$ref":"#/definitions/redirectUrls"}},"required":["appIcon","appName","redirectUrls"]},"phone":{"type":"object","properties":{"code":{"type":"string","example":"+380"},"number":{"type":"string","example":"8888888"},"fullNumber":{"type":"string","example":"+3808888888"}}},"investorTaxItem":{"type":"object","properties":{"taxId":{"type":"string"},"taxCountryCode":{"type":"string","example":"US"}},"required":["taxId","taxCountryCode"]},"investorTaxItems":{"type":"array","items":{"$ref":"#/definitions/investorTaxItem"}},"addressModel":{"type":"object","properties":{"countryCode":{"type":"string","example":"US"},"street":{"type":"string"},"houseNumber":{"type":"string"},"entrance":{"type":"string"},"city":{"type":"string"},"state":{"type":"string","example":"AL"},"zip":{"type":"string"}},"required":["countryCode"]},"investorDetails":{"type":"object","properties":{"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"},"birthday":{"type":"string","example":"1980-01-01"},"investorType":{"type":"string","enum":["individual","entity"]},"gender":{"type":"string","enum":["male","female"]},"birthCountry":{"type":"string","example":"US"},"birthCity":{"type":"string","example":"AL"},"birthState":{"type":"string"},"mainIdentificationNumber":{"type":"string"},"entityName":{"type":"string"},"businesses":{"type":"string"},"entityType":{"type":"string"},"entityIdNumber":{"type":"string"},"phone":{"$ref":"#/definitions/phone"},"tax":{"$ref":"#/definitions/investorTaxItems"},"address":{"$ref":"#/definitions/addressModel"}},"required":["address"]},"Model1":{"type":"object","properties":{"taxId":{"type":"string"},"taxCountryCode":{"type":"string"}}},"taxInfo":{"type":"array","items":{"$ref":"#/definitions/Model1"}},"domainInvestorDetails":{"type":"object","properties":{"externalId":{"type":"string"},"qualification":{"type":"string"},"investorFullName":{"type":"string"},"entityName":{"type":"string"},"isAccredited":{"type":"boolean"},"isUsaTaxResident":{"type":"boolean"},"taxInfo":{"$ref":"#/definitions/taxInfo"},"verificationStatus":{"type":"string","enum":["expired","none","processing","rejected","verified","updates-required","manual-review","processing-error","pending","pending-aml","passed"]}}},"investorResponse":{"type":"object","properties":{"accreditationStatus":{"type":"string"},"suitabilityStatus":{"type":"string"},"accountStatus":{"type":"string"},"investorId":{"type":"string"},"createDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"},"fullName":{"type":"string"},"tfaEnabled":{"type":"boolean"},"language":{"type":"string","example":"EN"},"email":{"type":"string"},"verificationStatus":{"type":"string","enum":["none","processing","updates-required","verified","manual-review","rejected","expired"]},"details":{"$ref":"#/definitions/investorDetails"},"domainInvestorDetails":{"$ref":"#/definitions/domainInvestorDetails"}},"required":["investorId","createDate","fullName","tfaEnabled","language","email","verificationStatus","details"]},"errors":{"type":"array","items":{"type":"string"}},"investorDocument":{"type":"object","properties":{"investorId":{"type":"string"},"status":{"type":"string","enum":["none","processing","updates-required","verified","manual-review","rejected","expired"]},"createDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"},"updateDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"},"isManual":{"type":"boolean"},"errors":{"$ref":"#/definitions/errors"}},"required":["investorId","status","createDate","updateDate","isManual","errors"]},"individualName":{"type":"object","properties":{"firstName":{"type":"string"},"middleName":{"type":"string"},"lastName":{"type":"string"}},"required":["firstName","middleName","lastName"]},"signerAddress":{"type":"object","properties":{"countryCode":{"type":"string","example":"US"},"street":{"type":"string"},"houseNumber":{"type":"string"},"entrance":{"type":"string"},"city":{"type":"string"},"state":{"type":"string","example":"AL"},"zip":{"type":"string"}},"required":["countryCode"]},"documentModel":{"type":"object","properties":{"documentId":{"type":"string"},"fileName":{"type":"string"},"thumbnail":{"type":"string"},"fileType":{"type":"string"},"createDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"},"docType":{"type":"string"},"docCategory":{"type":"string"},"verificationStatus":{"type":"string","enum":["pending","verified","not-verified","manual-review"]},"side":{"type":"string","enum":["front","back"]}},"required":["documentId","fileName","thumbnail","fileType","createDate","docType","docCategory","verificationStatus","side"]},"documents":{"type":"array","items":{"$ref":"#/definitions/documentModel"}},"investorSigner":{"type":"object","properties":{"signerId":{"type":"string"},"signerType":{"type":"string","enum":["individual","entity"]},"email":{"type":"string"},"legalName":{"type":"string"},"businessName":{"type":"string"},"entityType":{"type":"string"},"taxId":{"type":"string"},"individualName":{"$ref":"#/definitions/individualName"},"birthDate":{"type":"string","example":"1980-01-01"},"address":{"$ref":"#/definitions/signerAddress"},"documents":{"$ref":"#/definitions/documents"},"createDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"}},"required":["signerId","createDate"]},"investorSigners":{"type":"array","items":{"$ref":"#/definitions/investorSigner"}},"investorDocumentsResponse":{"type":"array","items":{"$ref":"#/definitions/documentModel"}},"Model2":{"type":"object","properties":{"externalId":{"type":"string"},"verificationStatus":{"type":"string","enum":["expired","none","processing","rejected","verified","updates-required","manual-review","processing-error","pending","pending-aml","passed"]}}},"Model3":{"type":"object","properties":{"investorId":{"type":"string"},"fullName":{"type":"string"},"language":{"type":"string","example":"EN"},"email":{"type":"string"},"createDate":{"type":"string","example":"2020-05-23T18:52:03.415Z"},"countryCode":{"type":"string","example":"US"},"domainInvestorDetails":{"$ref":"#/definitions/Model2"}},"required":["investorId","fullName","language","email","createDate","countryCode"]},"Model4":{"type":"array","items":{"type":"string","enum":["BAD_PROOF_OF_IDENTITY","UNSATISFACTORY_PHOTOS","EXPIRATION_DATE","SCREENSHOTS","DOCUMENT_PAGE_MISSING","BACK_SIDE_MISSING","BAD_PROOF_OF_ADDRESS","BAD_SELFIE","BLACK_AND_WHITE","FRONT_SIDE_MISSING","DOCUMENT_DAMAGED","BAD_VIDEO_SELFIE","NOT_DOCUMENT"]}},"investorVerificationV2":{"type":"object","properties":{"investorId":{"type":"string"},"status":{"type":"string","enum":["none","processing","updates-required","verified","manual-review","rejected","expired"]},"subStatus":{"type":"string"},"date":{"type":"string","example":"2023-06-19T09:44:02.000Z"},"errors":{"$ref":"#/definitions/Model4"}},"required":["investorId","status"]},"Model5":{"type":"object","properties":{"tokenName":{"type":"string"},"tokenId":{"type":"string","x-format":{"guid":true}},"status":{"type":"string","enum":["syncing","ready","not-authorised","syncing-investor-pays"]}},"required":["tokenName","tokenId","status"]},"tokens":{"type":"array","items":{"$ref":"#/definitions/Model5"}},"Model6":{"type":"object","properties":{"walletId":{"type":"string"},"securitizeIdWalletId":{"type":"string"},"walletName":{"type":"string"},"walletType":{"type":"string","enum":["metamask","bitgo","coinbase","ethereum","other"]},"walletAddress":{"type":"string"},"blockchain":{"type":"string","enum":["ethereum","algorand","avalanche"]},"walletUrl":{"type":"string"},"tokens":{"$ref":"#/definitions/tokens"}},"required":["walletName","walletType","walletAddress"]},"Model7":{"type":"array","items":{"$ref":"#/definitions/Model6"}},"investorDocumentView":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]},"signerDocumentView":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]},"authorizePayload":{"type":"object","properties":{"code":{"type":"string"},"redirect_uri":{"type":"string"},"grant_type":{"type":"string"},"client_id":{"type":"string"},"client_secret":{"type":"string"}},"required":["code"]},"OAuth2Response":{"type":"object","properties":{"access_token":{"type":"string"},"refresh_token":{"type":"string"},"expires_in":{"type":"number","example":604795477}},"required":["access_token","refresh_token","expires_in"]},"Model8":{"type":"object","properties":{"code":{"type":"string"},"redirect_uri":{"type":"string"},"grant_type":{"type":"string"}},"required":["code"]},"authorizeResponse":{"type":"object","properties":{"investorId":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiration":{"type":"string","example":"2020-05-23T18:52:03.415Z"}},"required":["investorId","accessToken","refreshToken","expiration"]},"refreshPayload":{"type":"object","properties":{"refreshToken":{"type":"string"}},"required":["refreshToken"]},"refreshResponse":{"type":"object","properties":{"investorId":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"expiration":{"type":"string","example":"2020-05-23T18:52:03.415Z"}},"required":["investorId","accessToken","refreshToken","expiration"]},"Model9":{"type":"object","properties":{"securitizeIdWalletId":{"type":"string"},"address":{"type":"string"},"walletName":{"type":"string"},"tokenId":{"type":"string"}},"required":["address","walletName","tokenId"]},"configParams":{"type":"object","properties":{"appIcon":{"type":"string"},"appName":{"type":"string"},"redirectUrls":{"$ref":"#/definitions/redirectUrls"}}}}}
