{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct Connect",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Callback API",
      "description": "Callback API"
    },
    {
      "name": "Transactional API",
      "description": "Transactional API"
    }
  ],
  "paths": {
    "/visamoneymovement/v1/payouts/ledgerNotification": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Ledger Notification",
        "description": "The purpose of this API is to provide information on various ledger entries received.",
        "operationId": "Debit Credit Advice POST",
        "requestBody": {
          "description": "OriginatorLedgerNotification body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OriginatorLedgerNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Request definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Request is forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-name": "ReturnToOriginator POST",
        "x-codegen-request-body-name": "OriginatorLedgerNotification",
        "x-slug": "OriginatorLedgerNotification",
        "x-tags": [
          "OriginatorLedgerNotification"
        ],
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visamoneymovement~1v1~1payouts~1ledgerNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visamoneymovement/v1/payouts/balanceNotification": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Balance Notification",
        "description": "The purpose of this API is to provide virtual account (i.e. VAN) balance data driven by client's configuration and usage",
        "operationId": "BalanceNotification",
        "parameters": [
          {
            "name": "keyId",
            "in": "header",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/KeyId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visamoneymovement~1v1~1payouts~1balanceNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visamoneymovement/v1/payouts/statusNotification": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Payout Status Notification",
        "description": "The purpose of the API is to \n  Enable Visa to provide updates of an payout transaction to Originating Entity",
        "operationId": "PayoutStatusNotification",
        "parameters": [
          {
            "name": "keyId",
            "in": "header",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/KeyId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-1"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visamoneymovement~1v1~1payouts~1statusNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visamoneymovement/v1/payouts/return": {
      "post": {
        "tags": [
          "Callback API"
        ],
        "summary": "Payout Return Notification",
        "description": "This API provides the Originating Entity with the ability to receive notifications on returns associated with their payouts",
        "operationId": "PayoutReturnNotification",
        "parameters": [
          {
            "name": "keyId",
            "in": "header",
            "required": false,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/KeyId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutReturnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-2"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visamoneymovement~1v1~1payouts~1return/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/visadirect-connect/v1/payouts/{id}": {
      "post": {
        "tags": [
          "Transactional API"
        ],
        "summary": "Request Exception",
        "description": "Update Payout Status to cancel/recall/reverse the transfer",
        "operationId": "updatePayoutStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Identifier, it is either a client_reference_id or a payout_id",
            "required": true,
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePayoutStatusRequest"
              },
              "examples": {
                "Request Exception Wallet": {
                  "summary": "Request Exception Wallet",
                  "value": {
                    "initiatingPartyId": "1002",
                    "idType": "CLIENT_REFERENCE_ID",
                    "actionCode": "CANCEL",
                    "payoutMethod": "W"
                  }
                },
                "Request Exception Accounts": {
                  "summary": "Request Exception Accounts",
                  "value": {
                    "initiatingPartyId": "1002",
                    "idType": "CLIENT_REFERENCE_ID",
                    "actionCode": "CANCEL",
                    "payoutMethod": "B"
                  }
                },
                "Request Exception Cards Pull reversal": {
                  "summary": "Request Exception Cards Pull reversal",
                  "value": {
                    "initiatingPartyId": "1002",
                    "idType": "CLIENT_REFERENCE_ID",
                    "actionCode": "REVERSAL",
                    "payoutMethod": "C"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPayoutResponse"
                },
                "examples": {
                  "Request Exception Wallet": {
                    "summary": "Request Exception Wallet",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 8092,
                        "payoutId": "281475041735425",
                        "clientReferenceId": "2998723427",
                        "status": "CANCELLED"
                      }
                    }
                  },
                  "Request Exception Accounts": {
                    "summary": "Request Exception Accounts",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 8092,
                        "payoutId": "281475041735425",
                        "clientReferenceId": "2998723427",
                        "status": "CANCELLED"
                      }
                    }
                  },
                  "Request Exception Cards Pull reversal": {
                    "summary": "Request Exception Cards Pull reversal",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "transactionDateTime": "2024-07-22T19:32:40.000Z",
                        "networkResponses": [
                          {
                            "systemTraceAuditNumber": "420419",
                            "cardAcceptorId": "CA-IDCode-89",
                            "approvalCode": "23456M",
                            "acquirerCountryCode": "840",
                            "terminalId": "wnTOMUzL",
                            "acquiringBin": 445654,
                            "retrievalReferenceNumber": "420419029890",
                            "type": "PullFundsTransactionReversal",
                            "transactionAmount": 100.21,
                            "transactionCurrencyCode": "USD",
                            "networkId": 4,
                            "actionCode": "00",
                            "responseSource": "5"
                          }
                        ],
                        "payoutId": "844482451210168",
                        "clientReferenceId": "64433575113",
                        "status": "PAYMENT_RETURNED"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-3"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-3"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-3"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect-connect~1v1~1payouts~1{id}/post",
            "default": false
          }
        ],
        "x-hideTryIt": true,
        "x-sortOrder": 1
      }
    },
    "/visamoneymovement/v1/payouts/accountBalance": {
      "get": {
        "tags": [
          "Transactional API"
        ],
        "summary": "Get Account Balance",
        "description": "The purpose of this API is to retrieve merchant's account currency balance.",
        "operationId": "GetAccountBalance",
        "parameters": [
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId-1"
            }
          },
          {
            "name": "currencyCode",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AlphaCurrencyCode"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAccountBalanceResponse"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-4"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-4"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-4"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visamoneymovement~1v1~1payouts~1accountBalance/get",
            "default": false
          }
        ],
        "x-hideTryIt": true,
        "x-sortOrder": 3
      }
    },
    "/visadirect-connect/v1/payouts/validate": {
      "post": {
        "tags": [
          "Transactional API"
        ],
        "summary": "Validate Payout",
        "description": "Validate Payout Request",
        "operationId": "ValidatePayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePayoutRequest-3"
              },
              "examples": {
                "validate cards Push Request": {
                  "summary": "validate cards Push Request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4957030420210454",
                        "expirationDate": "2027-03"
                      }
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989-04-22",
                      "type": "I"
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "{{curDate}}T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD"
                    }
                  }
                },
                "Validate Wallet payout": {
                  "summary": "Validate Wallet payout",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "UGA"
                        }
                      ],
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "ALIPAY"
                      },
                      "address": {
                        "country": "UGA",
                        "city": "KAMPALA",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "UGA",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": "1002",
                      "businessApplicationId": "PP",
                      "transactionAmount": "3613250",
                      "transactionCurrencyCode": "UGX",
                      "settlementCurrencyCode": "USD",
                      "endToEndId": "330016463808",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                },
                "Validate Cards Pull request": {
                  "summary": "Validate Cards Pull request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989-04-22",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4005520000011126",
                        "expirationDate": "2027-03"
                      }
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "{{curDate}}T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD"
                    }
                  }
                },
                "Validate Account Payout": {
                  "summary": "Validate Account Payout",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "GBR"
                        }
                      ],
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": "1002",
                      "businessApplicationId": "PP",
                      "transactionAmount": "1557",
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "endToEndId": "330016463808",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business validation result - if the Payout request is valid and can be processed if sent as a payout transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePayoutResponse-5"
                },
                "examples": {
                  "validate cards Push Request": {
                    "summary": "validate cards Push Request",
                    "value": {
                      "validationResultCode": "INVALID",
                      "validationDetails": [
                        {
                          "reason": "Card Validation",
                          "details": [
                            {
                              "message": "Address verification failed"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "Validate Wallet payout": {
                    "summary": "Validate Wallet payout",
                    "value": {
                      "validationResultCode": "VALID_WITH_NETWORK"
                    }
                  },
                  "Validate Cards Pull request": {
                    "summary": "Validate Cards Pull request",
                    "value": {
                      "validationResultCode": "INVALID",
                      "validationDetails": [
                        {
                          "reason": "Card Validation",
                          "details": [
                            {
                              "message": "Card validation failed"
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "Validate Account Payout": {
                    "summary": "Validate Account Payout",
                    "value": {
                      "validationResultCode": "VALID"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-5"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-3"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-3"
          },
          "429": {
            "$ref": "#/components/responses/429ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect-connect~1v1~1payouts~1validate/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visadirect-connect/v1/payouts": {
      "get": {
        "tags": [
          "Transactional API"
        ],
        "summary": "Query Payout",
        "description": "Get details of transaction by querying identifier",
        "operationId": "QueryPayout",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutIdentifier"
            },
            "examples": {
              "QueryPayoutCards": {
                "value": "CLIENT_REFERENCE_ID"
              },
              "QueryPayoutWallet": {
                "value": "CLIENT_REFERENCE_ID"
              },
              "QueryPayoutAccount": {
                "value": "CLIENT_REFERENCE_ID"
              }
            }
          },
          {
            "name": "idType",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TransactionIdType-1"
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId-1"
            },
            "examples": {
              "QueryPayoutCards": {
                "value": 1002
              },
              "QueryPayoutWallet": {
                "value": 1002
              },
              "QueryPayoutAccount": {
                "value": 1002
              }
            }
          },
          {
            "name": "payoutMethod",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutMethod"
            },
            "examples": {
              "QueryPayoutCards": {
                "value": "C"
              },
              "QueryPayoutWallet": {
                "value": "W"
              },
              "QueryPayoutAccount": {
                "value": "B"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryResponse-2"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-6"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-3"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-3"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect-connect~1v1~1payouts/get",
            "default": false
          }
        ],
        "x-hideTryIt": true,
        "x-sortOrder": 2
      },
      "post": {
        "tags": [
          "Transactional API"
        ],
        "summary": "Send Payout",
        "description": "SendPayout Request",
        "operationId": "SendPayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPayoutRequest-5"
              },
              "examples": {
                "Send Payout Accounts": {
                  "summary": "Send Payout Accounts",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "GBR"
                        }
                      ],
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": "1002",
                      "businessApplicationId": "PP",
                      "transactionAmount": "1557",
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "endToEndId": "330016463808",
                      "clientReferenceId": "32917133186",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                },
                "Send Payout Cards Push": {
                  "summary": "Send Payout Cards Push",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4957030420210454",
                        "expirationDate": "2027-03"
                      }
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989-04-22",
                      "type": "I"
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "2024-07-22T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD",
                      "clientReferenceId": "98148028712"
                    }
                  }
                },
                "Send Payout Wallet 400 Request": {
                  "summary": "Send Payout Wallet 400 Request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "UGA"
                        }
                      ],
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "ALIPAY"
                      },
                      "address": {
                        "country": "UGA",
                        "city": "KAMPALA",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "UGA",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": "1002",
                      "businessApplicationId": "PP",
                      "transactionAmount": "3613250",
                      "transactionCurrencyCode": "UGX",
                      "settlementCurrencyCode": "USD",
                      "endToEndId": "330016463808",
                      "clientReferenceId": "13501445172",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                },
                "Send Payout Cards Pull 400 request": {
                  "summary": "Send Payout Cards Pull 400 request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989/04/22",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4005520000011126",
                        "expirationDate": "2027-03"
                      }
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "{{curDate}}T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD",
                      "clientReferenceId": "6443357511333"
                    }
                  }
                },
                "Send payout Accounts 400 Request": {
                  "summary": "Send payout Accounts 400 Request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "GBR"
                        }
                      ],
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "businessApplicationId": "PP",
                      "transactionAmount": "1557",
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "endToEndId": "330016463808",
                      "clientReferenceId": "644335751133",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                },
                "Send Payout Cards 400 request": {
                  "summary": "Send Payout Cards 400 request",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4957030420210454",
                        "expirationDate": "2027-03"
                      }
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989-04-22",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4957030420210454",
                        "expirationDate": "2027-03"
                      }
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "{{curDate}}T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD",
                      "clientReferenceId": "45645645645645"
                    }
                  }
                },
                "Send payout Cards Pull": {
                  "summary": "Send payout Cards Pull",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Alba",
                      "firstName": "Jessica",
                      "address": {
                        "country": "USA",
                        "city": "Florida",
                        "postalCode": "33634",
                        "addressLine1": "2 Marcus Clarke St,"
                      },
                      "dateOfBirth": "2001-01-01",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "A42434234S324234",
                      "lastName": "Smith",
                      "firstName": "John",
                      "address": {
                        "country": "USA",
                        "city": "Camden",
                        "postalCode": "15205",
                        "addressLine1": "4616 Stuart Street",
                        "addressLine2": "Lane 1",
                        "state": "NJ"
                      },
                      "dateOfBirth": "1989-04-22",
                      "type": "I",
                      "card": {
                        "accountType": "00",
                        "accountNumber": "4005520000011126",
                        "expirationDate": "2027-03"
                      }
                    },
                    "payoutMethod": "C",
                    "transactionDetail": {
                      "surcharge": "1",
                      "initiatingPartyId": "1002",
                      "localTransactionDateTime": "2024-07-22T15:26:12",
                      "businessApplicationId": "PP",
                      "purposeOfPayment": "Remittance",
                      "transactionAmount": 100.21,
                      "transactionCurrencyCode": "USD",
                      "clientReferenceId": "64433575113"
                    }
                  }
                },
                "Send Payout Wallet": {
                  "summary": "Send Payout Wallet",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Bharath",
                      "firstName": "Anand",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "identificationList": [
                        {
                          "idType": "P",
                          "idNumber": "P128766Z",
                          "idIssueCountry": "UGA"
                        }
                      ],
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "ALIPAY"
                      },
                      "address": {
                        "country": "UGA",
                        "city": "KAMPALA",
                        "postalCode": "SW1A 2AA",
                        "addressLine1": "10 Downing St",
                        "addressLine2": "2124 HEH"
                      },
                      "contactEmail": "testmailid2024@visa.com",
                      "countryOfBirth": "UGA",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1991-05-27",
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "4304630005267011",
                      "lastName": "Russel",
                      "firstName": "Saha",
                      "contactNumberType": "MOBILE",
                      "cityOfBirth": "London",
                      "address": {
                        "country": "GBR",
                        "city": "Manchester",
                        "postalCode": "20500",
                        "addressLine1": "1600 Pennsylvania Ave",
                        "addressLine2": "Apt 4B"
                      },
                      "contactEmail": "testmail389abc@visa.com",
                      "countryOfBirth": "GBR",
                      "contactNumber": "+123456789",
                      "dateOfBirth": "1988-02-08",
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": "1002",
                      "businessApplicationId": "PP",
                      "transactionAmount": "3613250",
                      "transactionCurrencyCode": "UGX",
                      "settlementCurrencyCode": "USD",
                      "endToEndId": "330016463808",
                      "clientReferenceId": "13501445172",
                      "senderSourceOfFunds": "01",
                      "payoutSpeed": "STANDARD"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/AccountandWalletPayoutResponse-3"
                    },
                    {
                      "$ref": "#/components/schemas/CardPayoutResponse-6"
                    }
                  ]
                },
                "examples": {
                  "Send Payout Accounts": {
                    "summary": "Send Payout Accounts",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "172167337682452",
                        "endToEndId": "330016463808",
                        "clientReferenceId": "32917133186",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1557,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "Send Payout Cards Push": {
                    "summary": "Send Payout Cards Push",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "transactionDateTime": "2024-07-22T19:05:30.000Z",
                        "networkResponses": [
                          {
                            "systemTraceAuditNumber": "420419",
                            "cardAcceptorId": "CA-IDCode-89",
                            "approvalCode": "21324K",
                            "acquirerCountryCode": "840",
                            "terminalId": "jAYcnj6V",
                            "acquiringBin": 445654,
                            "retrievalReferenceNumber": "420419001676",
                            "type": "PushFundsTransaction",
                            "transmissionDateTime": "2024-07-22T19:05:30.000Z",
                            "transactionAmount": 100.21,
                            "transactionCurrencyCode": "USD",
                            "actionCode": "00",
                            "responseSource": "5"
                          }
                        ],
                        "payoutId": "234234322342343",
                        "clientReferenceId": "98148028712",
                        "status": "PAYMENT_DELIVERED"
                      }
                    }
                  },
                  "Send Payout Wallet 400 Request": {
                    "summary": "Send Payout Wallet 400 Request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11055,
                            "location": "transactionDetail.businessApplicationId",
                            "message": "Value provided for one of the fields is invalid."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send Payout Cards Pull 400 request": {
                    "summary": "Send Payout Cards Pull 400 request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11055,
                            "location": "senderDetail.dateOfBirth",
                            "message": "Value provided for one of the fields is invalid."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send payout Accounts 400 Request": {
                    "summary": "Send payout Accounts 400 Request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11000,
                            "location": "transactionDetail.initiatingPartyId",
                            "message": "Mandatory value is missing."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send Payout Cards 400 request": {
                    "summary": "Send Payout Cards 400 request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 45007,
                            "location": "Undefined",
                            "message": "Sender and Recipient cannot have card information in a single request."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send payout Cards Pull": {
                    "summary": "Send payout Cards Pull",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "transactionDateTime": "2024-07-22T19:09:18.000Z",
                        "networkResponses": [
                          {
                            "systemTraceAuditNumber": "420419",
                            "cardAcceptorId": "CA-IDCode-89",
                            "approvalCode": "98765X",
                            "acquirerCountryCode": "840",
                            "terminalId": "wnTOMUzL",
                            "acquiringBin": 445654,
                            "retrievalReferenceNumber": "420419029890",
                            "type": "PullFundsTransaction",
                            "transmissionDateTime": "2024-07-22T19:09:18.000Z",
                            "transactionAmount": 100.21,
                            "transactionCurrencyCode": "USD",
                            "actionCode": "00",
                            "responseSource": "5"
                          }
                        ],
                        "payoutId": "540433894976334",
                        "clientReferenceId": "64433575113",
                        "status": "PAYMENT_DELIVERED"
                      }
                    }
                  },
                  "Send Payout Wallet": {
                    "summary": "Send Payout Wallet",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "172167453453637",
                        "endToEndId": "330016463808",
                        "clientReferenceId": "13501445172",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 3613250,
                        "transactionCurrencyCode": "UGX",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Transaction is accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/202AccountPayoutCreatedResponse-1"
                    }
                  ]
                },
                "examples": {
                  "Send Payout Accounts": {
                    "summary": "Send Payout Accounts",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "172167337682452",
                        "endToEndId": "330016463808",
                        "clientReferenceId": "32917133186",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1557,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "Send Payout Cards Push": {
                    "summary": "Send Payout Cards Push",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "transactionDateTime": "2024-07-22T19:05:30.000Z",
                        "networkResponses": [
                          {
                            "systemTraceAuditNumber": "420419",
                            "cardAcceptorId": "CA-IDCode-89",
                            "approvalCode": "21324K",
                            "acquirerCountryCode": "840",
                            "terminalId": "jAYcnj6V",
                            "acquiringBin": 445654,
                            "retrievalReferenceNumber": "420419001676",
                            "type": "PushFundsTransaction",
                            "transmissionDateTime": "2024-07-22T19:05:30.000Z",
                            "transactionAmount": 100.21,
                            "transactionCurrencyCode": "USD",
                            "actionCode": "00",
                            "responseSource": "5"
                          }
                        ],
                        "payoutId": "234234322342343",
                        "clientReferenceId": "98148028712",
                        "status": "PAYMENT_DELIVERED"
                      }
                    }
                  },
                  "Send Payout Wallet 400 Request": {
                    "summary": "Send Payout Wallet 400 Request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11055,
                            "location": "transactionDetail.businessApplicationId",
                            "message": "Value provided for one of the fields is invalid."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send Payout Cards Pull 400 request": {
                    "summary": "Send Payout Cards Pull 400 request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11055,
                            "location": "senderDetail.dateOfBirth",
                            "message": "Value provided for one of the fields is invalid."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send payout Accounts 400 Request": {
                    "summary": "Send payout Accounts 400 Request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 11000,
                            "location": "transactionDetail.initiatingPartyId",
                            "message": "Mandatory value is missing."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send Payout Cards 400 request": {
                    "summary": "Send Payout Cards 400 request",
                    "value": [
                      {
                        "reason": "invalidPayoutRequest",
                        "details": [
                          {
                            "code": 45007,
                            "location": "Undefined",
                            "message": "Sender and Recipient cannot have card information in a single request."
                          }
                        ],
                        "status": 400
                      }
                    ]
                  },
                  "Send payout Cards Pull": {
                    "summary": "Send payout Cards Pull",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "transactionDateTime": "2024-07-22T19:09:18.000Z",
                        "networkResponses": [
                          {
                            "systemTraceAuditNumber": "420419",
                            "cardAcceptorId": "CA-IDCode-89",
                            "approvalCode": "98765X",
                            "acquirerCountryCode": "840",
                            "terminalId": "wnTOMUzL",
                            "acquiringBin": 445654,
                            "retrievalReferenceNumber": "420419029890",
                            "type": "PullFundsTransaction",
                            "transmissionDateTime": "2024-07-22T19:09:18.000Z",
                            "transactionAmount": 100.21,
                            "transactionCurrencyCode": "USD",
                            "actionCode": "00",
                            "responseSource": "5"
                          }
                        ],
                        "payoutId": "540433894976334",
                        "clientReferenceId": "64433575113",
                        "status": "PAYMENT_DELIVERED"
                      }
                    }
                  },
                  "Send Payout Wallet": {
                    "summary": "Send Payout Wallet",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "172167453453637",
                        "endToEndId": "330016463808",
                        "clientReferenceId": "13501445172",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 3613250,
                        "transactionCurrencyCode": "UGX",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponses-7"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-3"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-3"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visadirect-connect~1v1~1payouts/post",
            "default": false
          }
        ],
        "x-hideTryIt": true,
        "x-sortOrder": 0
      }
    }
  },
  "components": {
    "schemas": {
      "FXRateRequest": {
        "required": [
          "destinationCurrencyCode",
          "initiatingPartyId",
          "payoutMethod",
          "requestId",
          "sourceCurrencyCode"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RequestId"
              }
            ]
          },
          "payoutMethod": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "quoteIdRequired": {
            "type": "boolean",
            "description": "This field is to indicate whether the quote identifier is been expected in response for use in payout transactions.\nIf the value is false, client will not receive quoteId in the API response. If the value is true, client will receive quoteId in the API response. If QuoteIdRequired field is not available in the request, the API behavior is similar to when QuoteIdRequired value is false.\n"
          },
          "initiatingPartyId": {
            "allOf": [
              {
                "$ref": "#/components/schemas/InitiatingPartyId-1"
              }
            ]
          },
          "sourceCurrencyCode": {
            "description": "Source amount 3-alpha currency code in ISO 4217\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/AlphaCurrencyCode"
              }
            ]
          },
          "destinationCurrencyCode": {
            "description": "Destination amount 3-alpha currency code in ISO 4217\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/AlphaCurrencyCode"
              }
            ]
          }
        }
      },
      "AlphaCountryCode": {
        "maxLength": 3,
        "minLength": 3,
        "type": "string",
        "description": "3-character ISO-3166 (Alpha-3) country code.",
        "example": "USA"
      },
      "PayoutNotificationReceivedRequest-1": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "destinationAmount",
              "destinationCurrencyCode",
              "initiatingPartyId",
              "notificationDateTime",
              "payoutId",
              "settlementAmount",
              "settlementCurrencyCode",
              "status",
              "transactionAmount",
              "transactionCurrencyCode",
              "transactionDateTime"
            ],
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the transaction, only received in 202\n- PAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received. Only happens in 202.\nISO20022 field name: Transaction Information And Status - Transaction Status\n",
                "example": "PAYMENT_RECEIVED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutNotificationRequestStatus"
                  }
                ],
                "enum": [
                  "PAYMENT_RECEIVED"
                ]
              },
              "payoutId": {
                "description": "This is a unique identifier generated by the Visa for the original payout\n\nISO20022 field name: Transaction Information And Status - Original Additional Remittance Information\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutId"
                  }
                ]
              },
              "endToEndId": {
                "$ref": "#/components/schemas/EndToEndId"
              },
              "payoutSpeed": {
                "$ref": "#/components/schemas/PayoutSpeed"
              },
              "reasonDetails": {
                "$ref": "#/components/schemas/ReasonDetails"
              },
              "secondaryStatus": {
                "type": "string",
                "description": "Secondary Status of the transaction, only received in 202",
                "example": "RECALL_REQUESTED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SecondaryStatus"
                  }
                ],
                "enum": [
                  "RECALL_REQUESTED",
                  "RECALL_REJECTED",
                  "RECALL_ACCEPTED",
                  "RECALL_PROCESSING",
                  "PENDING_SETTLEMENT",
                  "SETTLEMENT_INITIATED",
                  "SETTLED"
                ]
              },
              "fxConversionRate": {
                "description": "This field contains the exchange rate applied to the pair of settlementCurrencyCode and destinationCurrencyCode\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversionRate"
                  }
                ]
              },
              "settlementAmount": {
                "description": "This is the amount to be debited from Originating Entity/Visa Client's funding account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId"
                  }
                ]
              },
              "destinationAmount": {
                "description": "The destination amount that will be deposited to the beneficiary account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the beneficiary bank account, and provide this information back to the Originating Entity.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Transaction Information And Status - Remitted Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId-1"
                  }
                ]
              },
              "transactionAmount": {
                "description": "The amount to debit from merchant's funding account or credit to beneficiary's bank account.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Instructed Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "expectedPostingDate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExpectedPostingDate-1"
                  }
                ]
              },
              "transactionDateTime": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimestampType"
                  }
                ]
              },
              "actualSettlementDate": {
                "type": "string",
                "description": "Actual Settlement Date of the Payment"
              },
              "notificationDateTime": {
                "$ref": "#/components/schemas/TimestampType"
              },
              "fundsAvailableDateTime": {
                "type": "string",
                "description": "Funds available Date and Time of the payment"
              },
              "settlementCurrencyCode": {
                "description": "The settlement currency code\n\nThe 3-character ISO-4217 code in this field reflects the currency for the Settlement amount to be debited from Originating Entity/Visa Client's funding account.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nExample: GBP\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "destinationCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the destination amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Remitted Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "transactionCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated to the transaction amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Instructed Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              }
            }
          }
        }
      },
      "WalletPayoutRequest": {
        "required": [
          "transactionDetail"
        ],
        "properties": {
          "transactionDetail": {
            "allOf": [
              {
                "$ref": "#/components/schemas/WalletTransactionDetail"
              }
            ]
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/PayoutWalletRequest"
          }
        ]
      },
      "PayoutNotificationReceivedRequest-2": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod-1"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "destinationAmount",
              "destinationCurrencyCode",
              "initiatingPartyId",
              "notificationDateTime",
              "payoutId",
              "settlementAmount",
              "settlementCurrencyCode",
              "status",
              "transactionAmount",
              "transactionCurrencyCode",
              "transactionDateTime"
            ],
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the transaction, only received in 202\n- PAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received. Only happens in 202.\nISO20022 field name: Transaction Information And Status - Transaction Status\n",
                "example": "PAYMENT_RECEIVED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutNotificationRequestStatus"
                  }
                ],
                "enum": [
                  "PAYMENT_RECEIVED"
                ]
              },
              "payoutId": {
                "description": "This is a unique identifier generated by the Visa for the original payout\n\nISO20022 field name: Transaction Information And Status - Original Additional Remittance Information\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutId"
                  }
                ]
              },
              "endToEndId": {
                "$ref": "#/components/schemas/EndToEndId"
              },
              "payoutSpeed": {
                "$ref": "#/components/schemas/PayoutSpeed"
              },
              "fxConversionRate": {
                "description": "This field contains the exchange rate applied to the pair of settlementCurrencyCode and destinationCurrencyCode\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversionRate"
                  }
                ]
              },
              "settlementAmount": {
                "description": "This is the amount to be debited from Originating Entity/Visa Client's funding account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId-1"
                  }
                ]
              },
              "destinationAmount": {
                "description": "The destination amount that will be deposited to the beneficiary account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the beneficiary bank account, and provide this information back to the Originating Entity.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Transaction Information And Status - Remitted Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId-1"
                  }
                ]
              },
              "transactionAmount": {
                "description": "The amount to debit from merchant's funding account or credit to beneficiary's bank account.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Instructed Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "expectedPostingDate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExpectedPostingDate-2"
                  }
                ]
              },
              "transactionDateTime": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimestampType"
                  }
                ]
              },
              "notificationDateTime": {
                "$ref": "#/components/schemas/TimestampType"
              },
              "settlementCurrencyCode": {
                "description": "The settlement currency code\n\nThe 3-character ISO-4217 code in this field reflects the currency for the Settlement amount to be debited from Originating Entity/Visa Client's funding account.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nExample: GBP\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "destinationCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the destination amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Remitted Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "transactionCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated to the transaction amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Instructed Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              }
            }
          }
        }
      },
      "ReasonDetails": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ReturnReasonCode"
              }
            ]
          },
          "comment": {
            "$ref": "#/components/schemas/ReturnReasonCodeComment"
          },
          "description": {
            "$ref": "#/components/schemas/ReturnReasonCodeDescription"
          }
        }
      },
      "AccountAndWalletSenderIdentificationList": {
        "type": "array",
        "description": "Identification list of sender",
        "items": {
          "type": "object",
          "properties": {
            "idType": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/IdTypeAccountAndWallet"
                }
              ]
            },
            "idNumber": {
              "description": "Sender identification number (issued by a government or similar authority) needs to be provided by Originating Entity along with the payment in certain markets. \n\nConditional (Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name:<br> For 4th  party payments:\"Ultimate Debtor Private Identification\" or  \"Ultimate Debtor Organisation Identification\" <br> For 3rd party payments:\"Debtor Private Identification\" or\"Debtor Organisation Identification\"\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IdNumber"
                }
              ]
            },
            "idIssueCountry": {
              "description": "Sender identification issuing country needs to be provided by Originating Entity along with the payment in certain markets. \n\nFormat: 3-character ISO (Alpha-3) country code\n\nConditional (Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name:<br>For 4th party payments: \"Ultimate Debtor Private Identification Issuer\" or \"Ultimate Debtor Organisation Identification Issuer\" <br> For 3rd party payments: \"Debtor Private Identification Issuer\" or \"Debtor Organisation Identification Issuer\"\n",
              "example": "USD",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AlphaCountryCode"
                }
              ]
            }
          }
        }
      },
      "PayoutNotificationReceivedRequest-4": {
        "required": [
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "$ref": "#/components/schemas/PayoutMethod"
          },
          "transactionDetail": {
            "required": [
              "clientReferenceId",
              "destinationAmount",
              "destinationCurrencyCode",
              "initiatingPartyId",
              "notificationDateTime",
              "payoutId",
              "settlementAmount",
              "settlementCurrencyCode",
              "status",
              "transactionAmount",
              "transactionCurrencyCode",
              "transactionDateTime"
            ],
            "type": "object",
            "properties": {
              "status": {
                "type": "string",
                "description": "Status of the transaction, only received in 202\n- PAYMENT_RECEIVED: Visa has acknowledged the payout instruction has been received. Only happens in 202.\nISO20022 field name: Transaction Information And Status - Transaction Status\n",
                "example": "PAYMENT_RECEIVED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutNotificationRequestStatus"
                  }
                ],
                "enum": [
                  "PAYMENT_RECEIVED"
                ]
              },
              "payoutId": {
                "description": "This is a unique identifier generated by the Visa for the original payout\n\nISO20022 field name: Transaction Information And Status - Original Additional Remittance Information\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PayoutId"
                  }
                ]
              },
              "endToEndId": {
                "$ref": "#/components/schemas/EndToEndId-1"
              },
              "payoutSpeed": {
                "$ref": "#/components/schemas/PayoutSpeed"
              },
              "reasonDetails": {
                "$ref": "#/components/schemas/ReasonDetails"
              },
              "secondaryStatus": {
                "type": "string",
                "description": "Secondary Status of the transaction, only received in 202",
                "example": "RECALL_REQUESTED",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/SecondaryStatus"
                  }
                ],
                "enum": [
                  "RECALL_REQUESTED",
                  "RECALL_REJECTED",
                  "RECALL_ACCEPTED",
                  "RECALL_PROCESSING",
                  "PENDING_SETTLEMENT",
                  "SETTLEMENT_INITIATED",
                  "SETTLED"
                ]
              },
              "fxConversionRate": {
                "description": "This field contains the exchange rate applied to the pair of settlementCurrencyCode and destinationCurrencyCode\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConversionRate"
                  }
                ]
              },
              "settlementAmount": {
                "description": "This is the amount to be debited from Originating Entity/Visa Client's funding account.\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "clientReferenceId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ClientReferenceId"
                  }
                ]
              },
              "destinationAmount": {
                "description": "The destination amount that will be deposited to the beneficiary account, expressed in the destination currency code provided in the original request. If the Originating Entity sends a payout in a currency that is not the same as the destination currency then Visa will perform FX conversion and calculate the amount to be deposited to the beneficiary bank account, and provide this information back to the Originating Entity.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Transaction Information And Status - Remitted Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "initiatingPartyId": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitiatingPartyId-1"
                  }
                ]
              },
              "transactionAmount": {
                "description": "The amount to debit from merchant's funding account or credit to beneficiary's bank account.\n\nNote: Transaction amount can have decimal point for currencies that allow it. Refer to the Payouts Endpoint Guide for Payout on country-specific currency minor units. \n\nExample: Currency exponent for USD is 2, the amount is $100.99. Currency exponent for JPY is 0. If the amount is JPY 10,000, then this field should populate “10000”.\n\nISO20022 field name: Instructed Amount\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Amount"
                  }
                ]
              },
              "expectedPostingDate": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExpectedPostingDate-1"
                  }
                ]
              },
              "transactionDateTime": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TimestampType"
                  }
                ]
              },
              "actualSettlementDate": {
                "type": "string",
                "description": "Actual Settlement Date of the Payment"
              },
              "notificationDateTime": {
                "$ref": "#/components/schemas/TimestampType"
              },
              "fundsAvailableDateTime": {
                "type": "string",
                "description": "Funds available Date and Time of the payment"
              },
              "settlementCurrencyCode": {
                "description": "The settlement currency code\n\nThe 3-character ISO-4217 code in this field reflects the currency for the Settlement amount to be debited from Originating Entity/Visa Client's funding account.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nExample: GBP\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "destinationCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated with the destination amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Remitted Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              },
              "transactionCurrencyCode": {
                "description": "The 3-character ISO-4217 code in this field reflects the currency associated to the transaction amount \n\nFormat: 3-character ISO-4217 (Alpha-3) currency code\n\nISO20022 field name: Transaction Information And Status - Instructed Amount Currency Code\n",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AlphaCurrencyCode"
                  }
                ]
              }
            }
          }
        }
      },
      "PayoutWalletRequest-4": {
        "required": [
          "payoutMethod",
          "recipientDetail",
          "senderDetail"
        ],
        "type": "object",
        "properties": {
          "payoutMethod": {
            "description": "Originating Entity must indicate the payout method i.e. To Account or Wallet\n\nValid values:\n“W” – Visa Direct Wallet\n",
            "allOf": [
              {
                "$ref": "#/components/schemas/PayoutMethod"
              }
            ]
          },
          "senderDetail": {
            "required": [
              "address"
            ],
            "properties": {
              "address": {
                "$ref": "#/components/schemas/SenderAccountPayoutAddress-1"
              },
              "cityOfBirth": {
[...]
