{"openapi":"3.0.0","info":{"title":"Payments","description":"Offers a convenient way for consumers to create, modify and cancel payments, manage AutoPay subscriptions, and enable external bank accounts to source the payments towards their account balances","version":"1.0"},"servers":[{"url":"https://sandbox-api.barclaysus.com:443/sandbox/cards-payment/v1"}],"paths":{"/cards/accounts/{accountId}/payments":{"get":{"tags":["paymentProductExternalAPI-OneTimePayment"],"summary":"Payment activity for the accountId","operationId":"getPaymentSummaryUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"fromDate","in":"query","description":"Start date of date range which customer needs to view payments from","required":false,"schema":{"type":"string","description":"Start date of date range which customer needs to view payments from","format":"date"}},{"name":"toDate","in":"query","description":"End date of date range which customer needs to view payments from","required":false,"schema":{"type":"string","description":"End date of date range which customer needs to view payments from","format":"date"}},{"name":"status","in":"query","description":"Payment Status to filter out the payments","required":false,"schema":{"type":"string","description":"Payment Status to filter out the payments","enum":["CANCELLED","IN_PROCESS","RETURNED","UNSUCCESSFUL","SCHEDULED","PAID"]}},{"name":"paymentInitiationSource","in":"query","description":"Inititiation source of payments that could be internal, external or both","required":false,"schema":{"type":"string","description":"Inititiation source of payments that could be internal, external or both","enum":["INTERNAL","THIRD_PARTY","BOTH"]}},{"name":"page","in":"query","description":"Page index","required":false,"schema":{"type":"integer","description":"Page index","format":"integer","default":1}},{"name":"size","in":"query","description":"Number of items on each page","required":false,"schema":{"type":"integer","description":"Number of items on each page","format":"integer","default":20}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Payment Summary response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentSummaryResponseData"}}}},"400":{"description":"The request could not be understood by the server due to malformed \nsyntax. The client SHOULD NOT repeat the request without \nmodifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}},"post":{"tags":["paymentProductExternalAPI-OneTimePayment"],"summary":"Make a One-time Payment","operationId":"schedulePaymentUsingPOST","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}}],"requestBody":{"description":"Payment Request Data To Schedule A Payment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchedulePaymentRequestData"}}},"required":true},"responses":{"200":{"description":"Schedule Payment response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SchedulePaymentResponseData"}}}},"400":{"description":"The request could not be understood by the server due to malformed \nsyntax. The client SHOULD NOT repeat the request without \nmodifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/external-accounts":{"get":{"tags":["paymentProductExternalAPI-ExternalAccount"],"summary":"Get all external accounts","operationId":"getAllExternalAccountsUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Gets all external bank accounts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetAllExternalAccountsResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}},"post":{"tags":["paymentProductExternalAPI-ExternalAccount"],"summary":"Add an external bank account","operationId":"addExternalAccountUsingPOST","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}},{"name":"X-Content-Encryption-Type","in":"header","description":"Required when API has PCI/PII data. Type of encryption used to encrypt the data.","required":true,"schema":{"type":"string","description":"Required when API has PCI/PII data. Type of encryption used to encrypt the data. ","enum":["ASYMMETRIC","HYBRID"],"default":"HYBRID"}},{"name":"X-Content-Encryption-Session-Key","in":"header","description":"Required when API has PCI/PII data. Base64 string session key generated by Third-Party to encrypt the PCI and PII data","required":true,"schema":{"type":"string","description":"Required when API has PCI/PII data. Base64 string session key generated by Third-Party to encrypt the PCI and PII data "}},{"name":"X-Content-Encryption-Key-Id","in":"header","description":"Required when API has PCI/PII data. Key Id used by Third-party to encrypt the PCI and PII data","required":true,"schema":{"type":"string","description":"Required when API has PCI/PII data. Key Id used by Third-party to encrypt the PCI and PII data "}}],"requestBody":{"description":"AddExternalAccountRequestData","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddExternalAccountRequestData"}}},"required":true},"responses":{"200":{"description":"Add an external bank account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddExternalAccountResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/external-accounts/{bankAccountId}":{"get":{"tags":["paymentProductExternalAPI-ExternalAccount"],"summary":"Get an external bank account","operationId":"getExternalAccountDetailsUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"bankAccountId","in":"path","description":"bankAccountId","required":true,"schema":{"type":"string","description":"bankAccountId"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Get an external bank account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetExternalAccountResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}},"patch":{"tags":["paymentProductExternalAPI-ExternalAccount"],"summary":"Update an external bank account","operationId":"updateExternalAccountUsingPUT","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"bankAccountId","in":"path","description":"bankAccountId","required":true,"schema":{"type":"string","description":"bankAccountId"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}},{"name":"X-Content-Encryption-Type","in":"header","description":"Required when API has PCI/PII data. Type of encryption used to encrypt the data.","required":false,"schema":{"type":"string","description":"Required when API has PCI/PII data. Type of encryption used to encrypt the data. ","enum":["ASYMMETRIC","HYBRID"],"default":"HYBRID"}},{"name":"X-Content-Encryption-Session-Key","in":"header","description":"Required when API has PCI/PII data. Base64 string session key generated by Third-Party to encrypt the PCI and PII data","required":false,"schema":{"type":"string","description":"Required when API has PCI/PII data. Base64 string session key generated by Third-Party to encrypt the PCI and PII data "}},{"name":"X-Content-Encryption-Key-Id","in":"header","description":"Required when API has PCI/PII data. Key Id used by Third-party to encrypt the PCI and PII data","required":false,"schema":{"type":"string","description":"Required when API has PCI/PII data. Key Id used by Third-party to encrypt the PCI and PII data "}}],"requestBody":{"description":"Update External Account Request Data","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExternalAccountRequestData"}}},"required":true},"responses":{"200":{"description":"Update an external bank account","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateExternalAccountResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/payment-options":{"get":{"tags":["paymentProductExternalAPI-OneTimePayment"],"summary":"Payment options for the accountId","operationId":"getPaymentOptionsUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Payment Options response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentOptionsResponseData"}}}},"400":{"description":"The request could not be understood by the server due to malformed \nsyntax. The client SHOULD NOT repeat the request without \nmodifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/subscriptions":{"get":{"tags":["paymentProductExternalAPI-AutoPay"],"summary":"Retrieve the most recent and active AutoPay subscription","operationId":"getRepeatPaySubscriptionUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Subscription information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepeatPaySubscriptionResponseData"}}}},"400":{"description":"The request could not be understood by the server due to malformed \nsyntax. The client SHOULD NOT repeat the request without \nmodifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}},"post":{"tags":["paymentProductExternalAPI-AutoPay"],"summary":"Create an AutoPay subscription","operationId":"enrollUsingPOST","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}}],"requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrollSubscriptionRequestData"}}},"required":true},"responses":{"200":{"description":"Subscription enrollment response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrollSubscriptionResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/subscriptions/options":{"get":{"tags":["paymentProductExternalAPI-AutoPay"],"summary":"Retrieve options for setting up an AutoPay subscription","operationId":"getRepeatPaySubscriptionOptionsUsingGET","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}}],"responses":{"200":{"description":"Subscription options list.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RepeatPaySubscriptionOptionsResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/subscriptions/{subscriptionId}":{"patch":{"tags":["paymentProductExternalAPI-AutoPay"],"summary":"Modify AutoPay subscription","operationId":"modifySubscriptionUsingPATCH","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"subscriptionId","in":"path","description":"subscriptionId","required":true,"schema":{"type":"integer","description":"subscriptionId","format":"int64"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}}],"requestBody":{"description":"request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifySubscriptionRequestData"}}},"required":true},"responses":{"200":{"description":"Subscription enrollment response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifySubscriptionResponseData"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"503":{"description":"temporary maintenance of service, try again later. The implication \nis that this is a temporary condition which will be alleviated \nafter some delay. If known, the length of the delay will be \nindicated in a Retry-After header. If no Retry-After is given, \nthe client SHOULD handle the response as it would for a 500 response. \nNote: The existence of the 503 status code does not imply that a \nserver will use it when becoming overloaded. Servers may simply \nrefuse the connection.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}},"/cards/accounts/{accountId}/payments/{referenceNumber}":{"patch":{"tags":["paymentProductExternalAPI-OneTimePayment"],"summary":"Modify One-time Payment","operationId":"modifyPaymentUsingPATCH","parameters":[{"name":"accountId","in":"path","description":"Account ID","required":true,"schema":{"type":"string","description":"Account ID"}},{"name":"referenceNumber","in":"path","description":"Payment Reference Number","required":true,"schema":{"type":"string","description":"Payment Reference Number"}},{"name":"X-Channel-Id","in":"header","description":"The channel that initiated the call. Must be passed through the API stack.","required":true,"schema":{"type":"string","description":"The channel that initiated the call. Must be passed through the API stack.","enum":["WEB","MOBILE"]}},{"name":"Correlation-ID","in":"header","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.","required":true,"schema":{"type":"string","description":"Unique end-to-end trace ID. The initiating system (such as a Channel or \nBatch Job), must generate this unique ID, then this must be passed \nthrough the API call stack. This is required to maintain compliance with the current Barclays REST Standard.\n"}},{"name":"Authorization","in":"header","description":"Unique TIAA-US External token","required":true,"schema":{"type":"string","description":"Unique TIAA-US External token"}},{"name":"Content-Type","in":"header","description":"content type, example - application/json","required":true,"schema":{"type":"string","description":"content type, example - application/json"}}],"requestBody":{"description":"Modify Payment Request Data To Update Or Cancel A Payment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyPaymentRequestData"}}},"required":true},"responses":{"200":{"description":"Modify Payment response for update or cancel action.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyPaymentResponseData"}}}},"400":{"description":"The request could not be understood by the server due to malformed \nsyntax. The client SHOULD NOT repeat the request without \nmodifications.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"401":{"description":"The user could not be authenticated for this request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"500":{"description":"Server encountered an error processing request. This should not \nhappen normally, but it is a generic error message, given when \nno more specific message is suitable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}},"404":{"description":"Server has not found a resource with that URI. This may be \ntemporary and permanent condition. This status code is \ncommonly used when the server does not wish to reveal \nexactly why the request has been refused, or when no other \nresponse is applicable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponseType"}}}}}}}},"components":{"schemas":{"SchedulePaymentRequestData":{"title":"SchedulePaymentRequestData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/SchedulePaymentRequest"}},"description":"Schedule Payment Request Data"},"ModifySubscriptionDetails":{"title":"ModifiedSubscriptionDetails","required":["amount","enrolledDate","lastModifiedDate","paymentDate","referenceNumber","subscriptionId"],"type":"object","properties":{"subscriptionId":{"type":"integer","description":"Unique Identifier for the Subscription","format":"int64","example":123456},"enrolledDate":{"type":"string","format":"date"},"amount":{"type":"number","description":"Dollar amount of payment","format":"float","example":90.04},"referenceNumber":{"type":"string","example":"190876"},"paymentDate":{"type":"string","format":"date"},"lastModifiedDate":{"type":"string","format":"date"},"firstPaymentDate":{"type":"string","format":"date"},"effectiveDate":{"type":"string","format":"date"}},"description":"Modified Subscription Details "},"AmountOptionsStatementBalance":{"title":"AmountOptionsStatementBalance","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.0},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Statement balance i.e. the amount owed by the customer till the last billing cycle"},"UpdateExternalAccountResponseData":{"title":"UpdateExternalAccountResponseData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/UpdateExternalAccountResponse"}},"description":"update an external bank account response data"},"ModifyPaymentDetails":{"title":"ModifyPaymentDetails","required":["actionSubmittedTime","amount","amountOptionType","authorizationText","bankAccountId","paymentDate","sessionLoginTime"],"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"amountOptionType":{"type":"string","description":"Payment amount option type","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CURRENT_BALANCE","CUSTOM"]},"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"123456789"},"paymentDate":{"type":"string","description":"Date on which processing of the payment started","format":"date"},"sessionLoginTime":{"type":"string","description":"Timestamp when the customer login","format":"date-time"},"authorizationText":{"type":"string","description":"Authorization text displayed on the payment confirmation screen","example":"By selecting Make Payment, I authorize Barclays.."},"actionSubmittedTime":{"type":"string","description":"Timestamp when the submit button was clicked","format":"date-time"}},"description":"Modify Payment Request"},"AddExternalAccountRequestData":{"title":"RepeatPaySubscriptionResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/ExternalAccountRequest"}}},"RepeatPaySubscriptionOptionsResponseData":{"title":"RepeatPaySubscriptionOptionsResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/RepeatPaySubscriptionOptionsResponse"}}},"PaymentSummaryResponseData":{"title":"PaymentSummaryResponseData","required":["data","meta"],"type":"object","properties":{"data":{"maxItems":255,"minItems":0,"type":"array","description":"List of payments","items":{"$ref":"#/components/schemas/PaymentSummary"}},"meta":{"$ref":"#/components/schemas/PaymentSummaryMetaResponse"}},"description":"Payment Summary Data"},"ModifyPaymentResponse":{"title":"ModifyPaymentResponse","required":["status"],"type":"object","properties":{"status":{"type":"string","description":"Status describing if payment was added successfully","example":"SUCCESS","enum":["SUCCESS","CHALLENGE","DENIED"]},"updatedPaymentDetails":{"$ref":"#/components/schemas/UpdatedPaymentDetails"},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}},"description":"Modify Payment Response Data"},"BankAccountDetails":{"required":["bankAccountId"],"type":"object","properties":{"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"123456"}}},"EnrollSubscriptionResponse":{"title":"EnrollSubscriptionResponse","required":["status"],"type":"object","properties":{"status":{"type":"string","description":"Status describing if a subscription was added successfully","example":"SUCCESS","enum":["SUCCESS","CHALLENGE","DENIED"]},"subscriptionDetails":{"$ref":"#/components/schemas/EnrollSubscriptionDetails"},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}}},"ExternalAccountRequest":{"required":["bankAccountNickname","bankAccountNumber","bankAccountType","bankRoutingNumber"],"type":"object","properties":{"bankAccountNickname":{"type":"string","description":"Bank account nickname of the bank account added as payment source","example":"ASHES"},"bankAccountNumber":{"type":"string","description":"Encrypted Bank account number to be added as a payment source","example":"3344"},"bankAccountType":{"type":"string","enum":["CHECKING","SAVINGS"]},"bankRoutingNumber":{"type":"string","description":"Bank routing number of the bank account added as payment source","example":"123456789"}},"description":"Add external bank account request"},"AddExternalAccountResponseData":{"title":"AddExternalAccountResponseData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/AddExternalAccountResponse"}},"description":"add an external bank account response data"},"DateOption":{"title":"DateOption","type":"object","properties":{"daysBeforeDueDateRange":{"$ref":"#/components/schemas/DaysRange"},"dueDate":{"type":"string","format":"date"}}},"AmountOptionsCurrentBalance":{"title":"AmountOptionsCurrentBalance","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Current balance i.e. total amount owed by the customer at the given moment "},"ModifySubscriptionResponse":{"title":"ModifySubscriptionResponse","required":["status"],"type":"object","properties":{"status":{"type":"string","description":"Status describing if a subscription was modified successfully","example":"SUCCESS","enum":["SUCCESS","CHALLENGE","DENIED"]},"subscriptionDetails":{"$ref":"#/components/schemas/ModifySubscriptionDetails"},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}}},"BankDetails":{"title":"BankDetails","type":"object","properties":{"bankName":{"type":"string","description":"Bank name for the bank account","example":"BANKVISTA"},"isValidBank":{"type":"boolean","description":"A boolean specifying if the bank is valid","example":true}},"description":"Bank details for the bank account"},"AmountOptionsRemainingStatementBalance":{"title":"AmountOptionsRemainingStatementBalance","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Remaining statement balance if some part of it is already paid"},"ErrorResponseType":{"title":"ErrorResponseType","type":"object","properties":{"errors":{"type":"array","description":"Contains one or more error messages and is mutually exclusive with the data item. This will not be returned in success scenarios. ","items":{"$ref":"#/components/schemas/ErrorType"}},"meta":{"type":"object","properties":{},"description":"Contains Non-standard meta information"}},"description":"An API error response. "},"AddExternalAccountResponse":{"title":"AddExternalAccountResponse","required":["status"],"type":"object","properties":{"bankAccountDetails":{"$ref":"#/components/schemas/BankAccountDetails"},"status":{"type":"string","description":"Status describing if payment was added successfully","example":"SUCCESS","enum":["SUCCESS","CHALLENGE","DENIED","ACCOUNT_WITH_PAYMENTS","ACCOUNT_WITH_SUBSCRIPTIONS"]},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}},"description":"Add external bank account response"},"EnrollSubscriptionRequestData":{"title":"EnrollSubscriptionRequestData","type":"object","properties":{"data":{"$ref":"#/components/schemas/SubscriptionRequest"}}},"ExternalAccount":{"title":"ExternalAccount","type":"object","properties":{"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"12345"},"bankAccountNickname":{"type":"string","description":"Bank account nickname of the bank account added as payment source","example":"ASHES"},"bankAccountNumber":{"type":"string","description":"Encrypted Bank account number to be added as a payment source","example":"1234"},"bankAccountType":{"type":"string","enum":["CHECKING","SAVINGS"]},"bankDetails":{"$ref":"#/components/schemas/ExternalBankDetails"}},"description":"Get all external account response"},"SchedulePaymentRequest":{"title":"SchedulePaymentRequest","required":["actionSubmittedTime","amount","amountOptionType","authorizationText","bankAccountId","paymentDate","sessionLoginTime"],"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"amountOptionType":{"type":"string","description":"Payment amount option type","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CURRENT_BALANCE","CUSTOM"]},"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"123456789"},"paymentDate":{"type":"string","description":"Date on which processing of the payment started","format":"date"},"sessionLoginTime":{"type":"string","description":"Timestamp when the customer login","format":"date-time"},"authorizationText":{"type":"string","description":"Authorization text displayed on the payment confirmation screen","example":"By selecting Make Payment, I authorize Barclays.."},"actionSubmittedTime":{"type":"string","description":"Timestamp when the submit button was clicked","format":"date-time"}},"description":"Payment request data to Schedule a Payment"},"RepeatPaySubscriptionResponseData":{"title":"RepeatPaySubscriptionResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/RepeatPaySubscriptionResponse"}}},"AmountOptionsMinimumDue":{"title":"AmountOptionsMinimumDue","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Minimum due amount that customer needs to pay"},"ExternalBankDetails":{"title":"ExternalBankDetails","type":"object","properties":{"bankName":{"type":"string","description":"Bank name of the bank account added as payment source","example":"bankName"},"bankNewRoutingNumber":{"type":"string","description":"Bank routing number of the bank account added as payment source","example":"123456789"},"bankRoutingNumber":{"type":"string","description":"Bank routing number of the bank account added as payment source","example":"103456789"},"isValidBank":{"type":"boolean"}}},"UpdatedPaymentDetails":{"title":"UpdatedPaymentDetails","required":["amount","paymentDate","projectedCreditDate"],"type":"object","properties":{"projectedCreditDate":{"type":"string","description":"Projected credit date of payment","format":"date"},"paymentDate":{"type":"string","description":"Date on which processing of the payment started","format":"date"},"amount":{"$ref":"#/components/schemas/Amount"}},"description":"Updated Payment Details"},"AmountOptionsRemainingMinimumDue":{"title":"AmountOptionsRemainingMinimumDue","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Remaining minimum due amount if some part of it is already paid"},"AmountOptionsCreditLimit":{"title":"AmountOptionsCreditLimit","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Credit limit for the card account"},"ExternalBankAccountDetails":{"title":"ExternalBankAccountDetails","type":"object","properties":{"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"123456"},"bankAccountNickname":{"type":"string","description":"Bank account nickname of the bank account added as payment source","example":"ASHES"},"bankAccountNumber":{"type":"string","description":"Encrypted Bank account number to be added as a payment source","example":"1234"},"bankAccountType":{"type":"string","enum":["CHECKING","SAVINGS"]},"bankDetails":{"$ref":"#/components/schemas/ExternalBankDetails"}},"description":"Bank account details"},"DateOptionsCustomDateRange":{"title":"DateOptionsCustomDateRange","required":["fromDate","toDate"],"type":"object","properties":{"fromDate":{"type":"string","description":"Start date of custom date range for future payments","example":"02-28-2021"},"toDate":{"type":"string","description":"End date of custom date range for future payments","example":"02-28-2021"}},"description":"Custom date range for future payments"},"DaysRange":{"title":"DaysRange","type":"object","properties":{"maximum":{"type":"integer","format":"int32"},"minimum":{"type":"integer","format":"int32"}}},"RepeatPaySubscriptionResponse":{"title":"RepeatPaySubscriptionResponse","type":"object","properties":{"amount":{"type":"number","description":"Dollar amount of payment","format":"float","example":99.01},"bankAccount":{"$ref":"#/components/schemas/BankAccount"},"dayOfMonth":{"type":"integer","description":"Day of the Month on which the subscription was set up","format":"int32","example":1},"daysBeforeDueDateToProcess":{"type":"integer","description":"Days from Due Date from which the subscription was set up","format":"int32"},"enrolledDate":{"type":"string","format":"date"},"lastModifiedDate":{"type":"string","format":"date"},"repeatPayOptionType":{"type":"string","description":"The amount options customer can choose to pay for the subscription","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CUSTOM"]},"subscriptionId":{"type":"integer","description":"Unique Identifier for the Subscription","format":"int64","example":12345}}},"GetExternalAccountResponseData":{"title":"GetExternalAccountResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/ExternalAccount"}},"description":"external bank account response data"},"GetAllExternalAccountsResponseData":{"title":"GetAllExternalAccountsResponseData","type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ExternalBankAccountDetails"}}},"description":"All external bank accounts response data"},"RiskAssessmentDetails":{"title":"RiskAssessmentDetails","required":["verificationContextId"],"type":"object","properties":{"verificationContextId":{"type":"string","description":"Fraud verification context id","example":"e17e3338-344b-403c-8a87-f7d8006d6e33"}},"description":"Risk summary"},"SubscriptionRequest":{"title":"EnrollSubscriptionRequest","required":["actionSubmittedTime","authorizationText","bankAccountId","daysBeforeDueDateToProcess","repeatPayOptionType","sessionLoginTime"],"type":"object","properties":{"amount":{"type":"number","description":"Dollar amount of payment","example":5.02},"daysBeforeDueDateToProcess":{"type":"integer","format":"int32","example":1},"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"1234567"},"repeatPayOptionType":{"type":"string","description":"The amount options customer can choose to pay for the subscription","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CUSTOM"]},"sessionLoginTime":{"type":"string","description":"Timestamp when the customer logged in","format":"date-time"},"authorizationText":{"type":"string","description":"Authorization text displayed on the subscription confirmation screen","example":"By selecting Create Subscription, I authorize Barclays.."},"actionSubmittedTime":{"type":"string","description":"Timestamp when the submit button was clicked","format":"date-time"}}},"PaymentSummary":{"title":"PaymentSummary","required":["amount","amountOptionType","bankAccountNickname","bankAccountType","channel","isInternalPayment","paymentDate","projectedCreditDate","referenceNumber","requestedOn","status","statusUpdateDate","subscriptionId"],"type":"object","properties":{"amount":{"$ref":"#/components/schemas/Amount"},"amountOptionType":{"type":"string","description":"Payment amount option type","example":"STATEMENT_BALANCE","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CURRENT_BALANCE","CUSTOM"]},"bankAccountNickname":{"type":"string","description":"Nickname for bank account added as payment source","example":"ASHES"},"bankAccountType":{"type":"string","description":"Account type of the bank account used as payment source","enum":["CHECKING","SAVINGS"]},"channel":{"type":"string","description":"Channel from which the payment was requested","example":"WEB","enum":["WEB","DESKTOP","WIRELESS","PHONE","MAIL","BATCH","UNKNOWN"]},"isInternalPayment":{"type":"boolean","description":"Flag to specify if source of the payment was internal","example":false},"paymentDate":{"type":"string","description":"Date on which processing of the payment started","format":"date"},"projectedCreditDate":{"type":"string","description":"Projected credit date of payment","format":"date"},"referenceNumber":{"type":"string","description":"Payment reference number","example":"6897656"},"requestedOn":{"type":"string","description":"Time at which the payment was requested","format":"date-time"},"status":{"type":"string","description":"Status of the payment","example":"RETURNED","enum":["CANCELLED","IN_PROCESS","RETURNED","UNSUCCESSFUL","SCHEDULED","PAID"]},"statusUpdateDate":{"type":"string","description":"Date of payment status update","format":"date"},"subscriptionId":{"type":"string","description":"Subscription ID if enrolled in AutoPay","example":"123456789"}},"description":"Payment Summary fields"},"ErrorType":{"title":"ErrorType","type":"object","properties":{"id":{"type":"string","description":"Generated message identifier for particular request, helping to locate server logs.","example":"9709-4675-2456-7801"},"code":{"type":"string","description":"Machine readable, unique code of the message related to particular case within operation execution.","example":"ACCOUNT_NUMBER_NOT_FOUND"},"title":{"type":"string","description":"Short description of the error. Not for displaying purposes.","example":"The authorization credentials required for this request are invalid."},"detail":{"type":"string","description":"Provides additional low-level details about the error to assist with troubleshooting. Not for displaying purposes."},"meta":{"type":"object","properties":{},"description":"Object containing non-standard meta-information about the error."}}},"AmountOptions":{"title":"AmountOptions","required":["availableCredit","creditLimit","currentBalance","minimumDue","remainingMinimumDue","remainingStatementBalance","statementBalance"],"type":"object","properties":{"availableCredit":{"$ref":"#/components/schemas/AmountOptionsAvailableCredit"},"creditLimit":{"$ref":"#/components/schemas/AmountOptionsCreditLimit"},"currentBalance":{"$ref":"#/components/schemas/AmountOptionsCurrentBalance"},"minimumDue":{"$ref":"#/components/schemas/AmountOptionsMinimumDue"},"remainingMinimumDue":{"$ref":"#/components/schemas/AmountOptionsRemainingMinimumDue"},"remainingStatementBalance":{"$ref":"#/components/schemas/AmountOptionsRemainingStatementBalance"},"statementBalance":{"$ref":"#/components/schemas/AmountOptionsStatementBalance"}},"description":"amount options"},"PaymentOptionsResponse":{"title":"PaymentOptionsResponse","required":["amountOptions","bankAccounts","dateOptions"],"type":"object","properties":{"amountOptions":{"$ref":"#/components/schemas/AmountOptions"},"bankAccounts":{"maxItems":255,"minItems":0,"type":"array","description":"List of bank accounts added as payment source for the account","items":{"$ref":"#/components/schemas/BankAccounts"}},"dateOptions":{"$ref":"#/components/schemas/DateOptions"}},"description":"payment options fields"},"AmountRange":{"title":"AmountRange","type":"object","properties":{"maximum":{"type":"number"},"minimum":{"type":"number"}}},"SchedulePaymentResponseData":{"title":"SchedulePaymentResponseData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/SchedulePaymentResponse"}},"description":"Schedule Payment Response Data"},"DateOptions":{"title":"DateOptions","required":["customDateRange","dueDate","effectiveDate","nextStatementCloseDate","payNowDate","statementCloseDate"],"type":"object","properties":{"customDateRange":{"$ref":"#/components/schemas/DateOptionsCustomDateRange"},"dueDate":{"type":"string","description":"Due date by which minimum due amount should be paid","example":"02-28-2021"},"effectiveDate":{"type":"string","description":"Effective date","example":"02-28-2021"},"nextStatementCloseDate":{"type":"string","description":"Upcoming statement date","example":"02-28-2021"},"payNowDate":{"type":"string","description":"Date when customer chooses to pay now","example":"02-28-2021"},"statementCloseDate":{"type":"string","description":"Date when statement was generated for the last billing cycle","example":"02-28-2021"}},"description":"Date options available under payment options"},"EnrollSubscriptionResponseData":{"title":"EnrollSubscriptionResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/EnrollSubscriptionResponse"}}},"UpdateExternalAccountRequest":{"title":"UpdateExternalAccountRequest","required":["action"],"type":"object","properties":{"action":{"type":"string","description":"Modify External Account action option","example":"UPDATE","enum":["UPDATE","CANCEL"]},"accountDetails":{"$ref":"#/components/schemas/ExternalAccountRequest"}},"description":"Update an external bank account request"},"EnrollSubscriptionDetails":{"title":"EnrolledSubscriptionDetails","required":["amount","enrolledDate","firstPaymentDate","paymentDate","referenceNumber","subscriptionId"],"type":"object","properties":{"amount":{"type":"number","description":"Dollar amount of payment","format":"float","example":20.0},"enrolledDate":{"type":"string","format":"date"},"firstPaymentDate":{"type":"string","format":"date"},"paymentDate":{"type":"string","format":"date"},"referenceNumber":{"type":"string","example":"4567"},"subscriptionId":{"type":"integer","description":"Unique Identifier for the Subscription","format":"int64","example":1234}},"description":"Enrolled Subscription Details "},"UpdateExternalAccountResponse":{"title":"UpdateExternalAccountResponse","required":["status"],"type":"object","properties":{"bankAccountDetails":{"$ref":"#/components/schemas/BankAccountDetails"},"status":{"type":"string","description":"Status describing if payment was added successfully","example":"SUCCESS","enum":["SUCCESS","CHALLENGE","DENIED","ACCOUNT_WITH_PAYMENTS","ACCOUNT_WITH_SUBSCRIPTIONS","ACCOUNT_WITH_PAYMENTS_AND_SUBSCRIPTIONS","ACCOUNT_CANNOT_BE_DELETED"]},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}},"description":"Update an external bank account response"},"ModifyPaymentRequest":{"title":"ModifyPaymentRequest","required":["action","modifyPaymentDetails"],"type":"object","properties":{"action":{"type":"string","description":"Action describing whether the payment needs to be updated or canceled","example":"UPDATE","enum":["UPDATE","CANCEL"]},"modifyPaymentDetails":{"$ref":"#/components/schemas/ModifyPaymentDetails"}},"description":"Modify Payment Request"},"ModifyPaymentResponseData":{"title":"ModifyPaymentResponseData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ModifyPaymentResponse"}},"description":"Modify Payment Response Data"},"ModifySubscriptionRequest":{"title":"ModifySubscriptionRequest","required":["action","modifySubscriptionDetails"],"type":"object","properties":{"action":{"type":"string","description":"Action describing whether the subscription needs to be updated or canceled","example":"UPDATE","enum":["UPDATE","CANCEL"]},"modifySubscriptionDetails":{"$ref":"#/components/schemas/SubscriptionRequest"}}},"Amount":{"title":"Amount","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Payment Amount Object"},"PaymentSummaryMetaResponse":{"title":"PaymentSummaryMetaResponse","type":"object","properties":{"totalElements":{"type":"number","description":"Total elements","format":"int32","example":12.0},"totalPages":{"type":"number","description":"Total pages in response","format":"int32","example":10.0}}},"BankAccount":{"title":"BankAccount","type":"object","properties":{"bankAccountId":{"type":"integer","description":"ID of bank account added as payment source","format":"int64","example":12345},"bankAccountNickname":{"type":"string","description":"Bank account nickname of the bank account added as payment source","example":"ASHES"},"bankAccountNumber":{"type":"string","description":"Last 4 digits of the bank account number to be added as a payment source","example":"2233"},"bankAccountType":{"type":"string","description":"Account type of the bank account used as payment source","enum":["CHECKING","SAVINGS","BUSINESS_SAVINGS","BUSINESS_CHECKING"]},"bankName":{"type":"string","description":"Bank name of the bank account added as payment source","example":"BANKVISTA"},"bankNewRoutingNumber":{"type":"string","description":"New bank routing number of the bank account added as payment source","example":"123456789"},"bankRoutingNumber":{"type":"string","description":"Bank routing number of the bank account added as payment source","example":"987654321"},"isValidBank":{"type":"boolean","description":"Signifies the validity of the bank routing number"}}},"PaymentOptionsResponseData":{"title":"PaymentOptionsResponseData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/PaymentOptionsResponse"}},"description":"Payment Options Response Data"},"ModifyPaymentRequestData":{"title":"ModifyPaymentRequestData","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ModifyPaymentRequest"}},"description":"Modify Payment Request Data"},"SchedulePaymentResponse":{"title":"SchedulePaymentResponse","required":["status"],"type":"object","properties":{"scheduledPaymentDetails":{"$ref":"#/components/schemas/ScheduledPaymentDetails"},"status":{"type":"string","description":"Status describing if payment was added successfully","example":"SUCCESS","enum":["SUCCESS","DUPLICATE","CHALLENGE","DENIED"]},"riskAssessmentDetails":{"$ref":"#/components/schemas/RiskAssessmentDetails"}},"description":"Schedule Payment Response"},"ResponseEntity":{"title":"ResponseEntity","type":"object","properties":{"body":{"type":"object","properties":{}},"status":{"type":"object","properties":{}}}},"ModifySubscriptionResponseData":{"title":"ModifySubscriptionResponseData","type":"object","properties":{"data":{"$ref":"#/components/schemas/ModifySubscriptionResponse"}}},"ModifySubscriptionRequestData":{"title":"ModifySubscriptionRequestData","type":"object","properties":{"data":{"$ref":"#/components/schemas/ModifySubscriptionRequest"}}},"AmountOptionsAvailableCredit":{"title":"AmountOptionsAvailableCredit","required":["amount","currencyCode"],"type":"object","properties":{"amount":{"type":"number","description":"Amount figure of payment amount","format":"float","example":99.01},"currencyCode":{"type":"string","description":"Currency of payment amount","example":"USD"}},"description":"Credit available for the card account"},"RepeatPaySubscriptionOptionsResponse":{"title":"RepeatPaySubscriptionOptionsResponse","type":"object","properties":{"bankAccounts":{"type":"array","items":{"$ref":"#/components/schemas/BankAccount"}},"customAmountRange":{"$ref":"#/components/schemas/AmountRange"},"dateOptions":{"$ref":"#/components/schemas/DateOption"},"repeatPayOptionType":{"type":"array","items":{"type":"string","enum":["MINIMUM_DUE","STATEMENT_BALANCE","CUSTOM"]}}}},"BankAccounts":{"title":"BankAccount","type":"object","properties":{"bankAccountId":{"type":"string","description":"ID of bank account added as payment source","example":"123456789"},"bankAccountNickname":{"type":"string","description":"Nickname for bank account added as payment source","example":"ASHES"},"bankAccountNumber":{"type":"string","description":"Account type for bank account added as payment source","example":"3344"},"bankAccountType":{"type":"string","description":"Account type of the bank account used as payment source","enum":["CHECKING","SAVINGS"]},"bankDetails":{"$ref":"#/components/schemas/BankDetails"}},"description":"Bank account added as payment source"},"ScheduledPaymentDetails":{"title":"ScheduledPaymentDetails","required":["amount","paymentDate","projectedCreditDate","referenceNumber"],"type":"object","properties":{"referenceNumber":{"type":"string","description":"Payment reference number","example":"6897656"},"paymentDate":{"type":"string","description":"Date on which processing of the payment started","format":"date"},"projectedCreditDate":{"type":"string","description":"Projected credit date of payment","format":"date"},"amount":{"$ref":"#/components/schemas/Amount"}},"description":"Scheduled Payment Details "},"UpdateExternalAccountRequestData":{"title":"UpdateExternalAccountRequest","required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/UpdateExternalAccountRequest"}},"description":"Update External Account Request"}}},"tags":[{"name":"paymentProductExternalAPI-OneTimePayment","description":"OAS3 External Payment APIs"},{"name":"paymentProductExternalAPI-AutoPay","description":"OAS3 External AutoPay APIs"},{"name":"paymentProductExternalAPI-ExternalAccount","description":"OAS3 External Account APIs"}]}